<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="../../vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         verbose="true"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="SpatialTest">
            <directory>./SpatialTest</directory>
        </testsuite>
    </testsuites>
</phpunit>